<ion-view view-title="Editar Nota" class="colore">
	<ion-content class="editBackground">
		<div class="list card">
			<div class="item item-input">
				<input type="text" placeholder="Título" ng-model="note.title">
			</div>
			<div class="item item-input">
				<textarea rows="5" placeholder="Descripción" ng-model="note.description"></textarea>
			</div>
		</div>
		<div class="padding">
			<button class="button button-block button-balanced" ng-click="save()">Guardar</button>
		</div>
	</ion-content>
</ion-view>