<ion-view view-title="My Notes" ng-controller="ListCtrl"> 
 <ion-content>
    <div class="padding">
    <!--<div class="bar bar-header bar-stable">-->
    	<a href="#/add" class="button button-calm icon-left ion-compose">New Note</a>
    	<buton class="button button-light icon-left ion-navicon-round"
    		ng-click="toggleReordering()">Reorder</button>
    </div>
    <ion-list show-reorder="reordering">
    	<ion-item class="item-remove-animate item-icon-right"
        	href="#/edit/{{note.id}}" 
        	ng-repeat="note in notes track by note.id">
            <h2>{{note.title}}</h2>
            <p>{{note.description}}</p>
            <i class="icon ion-code-working"></i>
            <ion-reorder-button class="ion-navicon" 
            	on-reorder="move(note, $fromIndex, $toIndex)">
            </ion-reorder-button>
            <ion-option-button class="button-assertive"
              ng-click="remove(note.id)">Delete</ion-option-button>
        </ion-item>
    </ion-list>
 </ion-content>
</ion-view>