/* Empty. Add your own CSS if you like */
.notesBackground {
	background-color: #FFB730;
}

.editBackground {
	background-color: #F5DA81;
}

.list card {
	background-color: black;
}

.colore {
  background-color: #F5DA81;
}
